/* CUSTOM PROPS */
:root {
  /* COLORS */
  --dark:#0B0D17;
  --blue-light:#D0D6F9;
  --white:#fff;

  /* FONTS */
  --barlow-condensed-bold:"Barlow Condensed","Arial", sans-serif;
  --barlow-condensed-normal:"Barlow Condensed", "Arial", sans-serif;
  --barlow-normal:"Barlow", "Arial", sans-serif;
  --bellefair:"Bellefair", "Arial", sans-serif;
}

body {
  background-image:url(../images/background-technology-desktop.jpg);
}

.technology__container {
  margin-top: 3rem;
  margin-left: 10.3125rem;
  text-transform: uppercase;
}

.technology__heading {
  font-size: 1.75rem;
  line-height: 2.125rem;
  font-family: var(--barlow-condensed-normal);
  font-weight: 400;
  letter-spacing: 4px;
  margin-bottom: 5.625rem;
}

.technology__heading--num {
  font-weight: 700;
  letter-spacing: 4.72px;
  margin-right: 1.5rem;
  opacity: 0.25;
}

.technology__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.technology__content {
  display: flex;
}

.technology__slider {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.slider__item {
  font-size: 2rem;
  line-height: 2.25rem;
  font-family: var(--bellefair);
  width: 5rem;
  height: 5rem;
  background-color: transparent;
  color: var(--white);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  cursor: pointer;
}

.slider__item:not(:last-child) {
  margin-bottom: 2rem;
}

.slider__item--active, .slider__item:hover {
  background-color:var(--white);
  color: var(--dark);
}

.technology__info {
  width: 100%;
  max-width: 30.625rem;
  margin-right: 1rem;
}

.technology__terminology {
  opacity: 0.5;
  font-size: 2rem;
  line-height: 2.25rem;
  font-family: var(--bellefair);
  margin-bottom: 1rem;
}

.technology__name {
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4rem;
  font-family: var(--bellefair);
  margin-bottom: 1.5rem;
}

.technology__description {
  color: var(--blue-light);
  text-transform:none;
}

.technology__picture {
display: block;
}

.technology__img {
  width: 44.25rem;
  display: block;
}

@media only screen and (max-width:1440px) {
  .technology__container {
    margin-left: 4rem;
}
  .technology__content {
    flex-direction: column;
  }

  .technology__slider {
    flex-direction: row;
    margin-right: 0;
    order: 1;
  }

  .slider__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 2rem;
  }

  .technology__info {
    max-width: 26.75rem;
    margin-bottom: 2rem;
  }

  .technology__img {
    width: 37.5rem;
  }
}

@media only screen and (max-width:1100px) {
  .technology__wrapper {
    align-items: stretch;
  }
  .technology__img {
    width: 31.25rem;
  }
}

@media only screen and (max-width:935px) {
  .technology__container {
    width: 100%;
    margin: 0;
    margin-top: 2.5rem;
    padding: 0 1.5rem;
  }

  .technology__wrapper {
    flex-direction: column;
  }

  .technology__content {
    order: 1;
  }

  .technology__img {
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
  }

  .technology__slider {
    justify-content: center;
    order: 0;
    margin-bottom: 2.5rem;
  }

  .technology__info {
    margin-right: 0;
    max-width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width:769px) {
  body {
    background-image:url(../images/background-technology-tablet.jpg);
  }

  .technology__container {
    padding: 0;
    text-align: center;
  }
  .slider__item {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  .technology__info {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .technology__terminology {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  .technology__name {
    font-size: 2.5rem;
    line-height: 2.85rem;
    margin-bottom: 1rem;
  }

  .technology__description {
    font-size: 1rem;
  }
}


@media only screen and (max-width:376px) {
  body {
    background-image:url(../images/background-technology-mobile.jpg);
  }

  .technology__container {
    margin-top: 1.5rem;
  }

  .technology__heading {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .slider__item {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.15rem;
    line-height: 1.25rem;
  }

  .technology__terminology {
    font-size: 1.15rem;
    line-height: 1.25rem;
  }

  .technology__name {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}